__pycache__/
*.pyc
.env
mlruns/
data/raw/*
!data/raw/GSE15852_series_matrix.txt
!data/raw/GPL96-57554.txt
models/*
!models/model.pkl
!models/selector.pkl
!models/selected_200_features.csv
!models/top10_genes.csv
!models/gene_importance.csv
